.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar li {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-decoration: none;
    
  }

  .sidebar_links{
    display: block;
    color: black;
    padding: 16px;
    
  }

  .sidebar a{
    text-decoration: none;
    text-decoration: none;
  }

  .sidebar a.active{
    background-color: gray;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: rgb(172, 172, 172);
    color: white;
  }
  
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }