.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar li {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar li a {
    text-decoration: none;
    color: black;
  }

  .sidebar .active {
    background-color: gray;
    color: white;
  }
  
  .sidebar li:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar li {float: left;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar li {
      text-align: center;
      float: none;
    }
  }