.sidebar {
  margin: 0px 66px;
    padding: 0;
    width: 100%;
    column-gap: 20px;
    background-color: #ffff;
    /* position: fixed; */
    display: flex;
    height: 90%;
    /* overflow: auto; */

  }
  
  .sidebar li {
    display: flex;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a{
    display: flex;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-decoration: none;
    
  }

  .sidebar a{
    text-decoration: none;
    text-decoration: none;
  }

  .sidebar a.active{
    background-color: gray;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: rgb(172, 172, 172);
    color: white;
  }
  
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }