/* This is New File- test2 */

.App {
  text-align: center;
  font-family: 'Oswald';
  /* text-transform: uppercase; */
  padding-top: 70px;
  overflow-x: hidden;

}
.row.card.bg-light.col-4 {
  margin: auto;
}
article.card-body.mx-auto {
  max-width: 400px;
}
h3.card-title.text-center {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #e95356 !important;
  border-color: #e95356 !important;
  color:#ffff!important;
  user-select: none!important;

}
/*login page image*/
.topnav {
  position:fixed;
  top:8px;
  left:0;
  width:100%;
  height:100px;
  background-color:#ffffff;
  /* margin-bottom:solid black 2px; */
} 

.nav-link {
  color:#212529!important;
}

.nav-link:hover {
  color:Gray!important;
} 
.navbar-brand {
  padding: 0px 0.6rem !important;
  padding-left: 5rem;
}
nav.navbar.navbar-expand-lg.navbar-white.bg-white.fixed-top {
  border-bottom: 1px solid rgba(0,0,0,.125)
}
 .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem!important;
  padding-left: 1.5rem!important;
 } 
 /* .col-md-1\.5 {
  display: flex;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 .ribbon {
    position: absolute;
    top: 0px;
    left: 30px;
  }
  
.newjob.row {
  max-width: 100;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.jobfield.col.row {
  display: flex;
  flex-direction: row;
}
.btn-outline-warning {
  color: black !important;
  border-color: grey !important;
  background-color: #f1f1f1 !important;
}

.dtheight.form-group {
  column-gap: 19px;
  margin-top: 14px;
  margin-left: 14px;
  display: flex;
  justify-content: center;
}
.jobcardbtn {
  position: absolute;
  margin-left: 18.5rem; 
  /* margin-left: 23.5rem; */
  margin-top: -4rem;
}


.deljob.col-12 {
  display: flex;
  flex-direction: row;
 text-align:left;
  padding-top: 2px;
  margin: 0rem -5rem 0.5rem 0rem;
}

.container.simlist{
  max-width: 86%;
}

.simjoblist.row.col-md-12 {
  padding: 0 0;
  margin: 0 0;
}
.row.bg-info.rounded-3 {
  margin: 0;
}
.table{
  padding:0rem 0rem
}
h5{
  margin:0 0;
}
.cardbody{
  padding: 0rem 1rem 1rem 1rem;
}
h4.card-title {
  margin: 0 0;
  padding-top: 10px;
}
.form-group.col-sm-2.row {
  padding: 0px 37px;
}
table.sourceTable.table.table-striped.table-bordered.table-hover {
  margin-top: 6px;
  padding:0 0;
}
 /* .card-body.source.col.row.align-items-end.text-left {
  padding-bottom: 0;
}  */

a.btn.btn-primary {
  margin: 0px 5px;
}
.tr td th {
padding:none;
}

.table.logTable tr td:nth-child(4){ 
  word-wrap: break-word;
 column-width: 1000px!important;

}
.header.form-group.col {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  margin-bottom: 0;
  padding-right: 53px;
}
.row.bg-info.rounded-3{
  margin: 3px -1px;
  padding-top: 3px;
  margin-top: -6px;
}

.jobcardbtn1 {
  position: absolute;
  margin-left: 49rem; 
  margin-top: -89px;
}
i.btn.bi.bi-chevron-down {
  padding: 0 0;
}
i.fa.fa-user {
  margin: 12px -1px;
}

.jobheader.col {
  display: flex;
  flex-direction: row;
  margin-left: -5px;
  max-height: 26px;
  margin-bottom: 11px;
  }
  .deljob.col-12.simhead {
    width: 91%;
    margin-left: 2px;
    column-gap:17px;
  
  }
  .form-group.col-sm-10.simdate {
    column-gap: 17px;
    padding-left: 28px;
    
}


.simtext {
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.col-lg-2.simtitle.row {
  margin-left: 13px;
}

table.table.table-striped.table-bordered.table-hover {
  border-collapse:inherit
}
table.table.table-striped.table-bordered.table-hover {
  border: solid #ccc 0.1px;
  border-radius: 6px;
}
table.table.table-striped.table-bordered.table-hover td, table.table.table-striped.table-bordered.table-hover th {
  border-left: 0px solid #ccc;
  border-top: 0px solid #ccc;
}
table.table.table-striped.table-bordered.table-hover tr > *:first-child {
  border-left: 0px;
}
table.table.table-striped.table-bordered.table-hover tr:first-child > * {
  border-top: 0px;
  border-radius: 0px;
}

.col-2.repeat {
    display: flex;
    align-items: center;
    padding-top: 20px;
    column-gap: 8px;
}

 input[type="checkbox"] {
  margin-top:3px;
} 
.form-group.col-auto {
  display: flex;
  align-items: flex-end;
  align-content: center;
  margin-top: 14px;
  column-gap: 12px;
}
.simulationhead.row.col-lg-10 {
  padding-left: 41px;
}